# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd

In [2]:
seller = pd.read_csv("data/bestsellers.csv")
seller.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [5]:
seller["User Rating"].min()

3.3

In [6]:
seller["Price"].max()

105

In [18]:
seller["User Rating"].mean()

4.618363636363637

In [9]:
seller["User Rating"].head(5).mean()

4.7

In [10]:
seller["Reviews"].sum()

6574305

In [13]:
seller["Author"].describe()

count             550
unique            248
top       Jeff Kinney
freq               12
Name: Author, dtype: object

In [19]:
seller.describe(include=["object"])

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310